<server description="new server">

	<featureManager>
		<feature>cdi-2.0</feature>
		<feature>servlet-4.0</feature>
		<feature>jaxrs-2.1</feature>
		<feature>jndi-1.0</feature>
		<feature>mpMetrics-3.0</feature>
		<feature>mpConfig-2.0</feature>
		<feature>monitor-1.0</feature>
		<feature>jsp-2.3</feature>
		<feature>transportSecurity-1.0</feature>
		<feature>requestTiming-1.0</feature>
	</featureManager>

	<httpEndpoint httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint" host="*" />
	<keyStore id="defaultKeyStore" password="yourPassword" />

	<mpMetrics authentication="false" />
	<logging traceSpecification="com.ibm.ws.microprofile.health.*=all" />


</server>